<!DOCTYPE html>
<html>
    <head>
        <title>Test</title>
        <link rel="stylesheet" type="text/css" href="/css/main.css"></link>
        <%- include("manager/head.ejs"); %>
    </head>
    <body>
        <div class="center-content">
            <%- include("logo.ejs") %>
            <h1>Pom and Honey POS</h1>
            <h3>
            Looks like you don't have permission to enter this page. (Did you forget to sign in?) <br>
            Either go to the customer view or return back to the home page. <br>
            </h3>
            <a href="/customer"><button>customer View</button></a>
            <div id="google_translate_id"></div>

            <div id="g_id_onload"
                data-client_id="1001480195333-8c7osehemrrpbkpl72ptme7n69s8h3up.apps.googleusercontent.com"
                data-context="signin"
                data-callback="verify"
                data-auto_prompt="false">
            </div>

            <div class="g_id_signin"
                data-type="standard"
                data-shape="rectangular"
                data-theme="outline"
                data-text="signin_with"
                data-size="large"
                data-logo_alignment="left">
            </div>
        </div>

        <script src="https://accounts.google.com/gsi/client" async defer></script>
        <script src="/js/server.js"></script>
        <meta name="referrer" content="no-referrer-when-downgrade"></meta>

        <script>
            window.onload = function () {
              google.accounts.id.initialize({
                client_id: '1001480195333-8c7osehemrrpbkpl72ptme7n69s8h3up.apps.googleusercontent.com',
                callback: verify,
              });
              //google.accounts.id.prompt();
            };
        </script>

        <script>
            function verify(res) {
                //console.log(res.credential);
                token = {
                    "token":res.credential
                }
                server.POST("/login", token, "/", function(err){alert(err);});
            }
        </script>

        <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        <script>
            function googleTranslateElementInit() {
                new google.translate.TranslateElement(
                    {pageLanguage: 'en'}, 'google_translate_id'
                )
            }
        </script>
    </body>
</html>
