<div class="center-header">
    <%- include("../logo.ejs") %>
	<h1>Manager View</h1>
	<a href="/manager/summary"><button>Summary</button></a>
	<a href="/manager/orders"><button>Orders</button></a>
	<a href="/manager/items"><button>Items</button></a>
	<script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
	<script>
		function googleTranslateElementInit() {
			new google.translate.TranslateElement(
				{pageLanguage: 'en'}, 'google_translate_id'
			)
		}
	</script>
    <div id="google_translate_id"></div>

</div>
